<h1>Muvin</h1>

<p>Olá <%= @user.first_name %>,</p>

<p>
Bem-vindo(a) ao Muvin, para ativar sua conta clique no link abaixo:
</p>

<%= link_to 'Ativar', edit_account_activation_url(@user.activation_token, email: @user.email) %>
