<h1>Recupere sua senha</h1>

<p>Para recuperar sua senha, clique no link:</p>

<%= link_to "Recupere sua senha", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>Esse link irá expirar em duas horas.</p>

<p>
Se você não requisitou recuperação de senha, por favor ignore este email e sua
</p>