<% provide(:title, 'Home') %>

<div class="row">
  <div class="col-xs-12 col-md-9">
    <input id="pac-input" class="controls" type="text" placeholder="Buscar Local">
    <div id="map"></div>
  </div>
  <div class="col-xs-12 col-md-3">
    <div id="musics"></div>

    <form action="<%= spotify_playlist_path %>" method="post">
      <input type="hidden" id="location" name="location" value="" />
      <input type="hidden" id="latitude" name="latitude" value="" />
      <input type="hidden" id="longitude" name="longitude" value="" />
      <%= token_tag %>
      <input type="submit" id="playlist" class="btn btn-primary" style="display: none" value="Gerar Playlist" />
    </form>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxXL6ruaRsbEpHLereD5TQDEdae07fDQM&libraries=places&callback=getLocation" async defer></script>
