<% provide(:title, 'updateemail') %>
<h1>Minhas Configurações</h1>
<%= link_to 'Alterar Email', updateemail_path %>  <br/>
<%= link_to 'Alterar Senha', changepassword_path %> <br/>
<%= link_to 'Sincronizar Conta LastFM', mysettings_configurelastfm_path %> <br/>
<%= link_to 'Sincronizar com Spotify', '/auth/spotify' %>